:root {
    --naranja: rgb(238, 44, 30);
}
/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

.nav {
    background-color: var(--naranja);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
}
.nav img {
    width: 130px;
    height: 100px;
}
.nav i {
    color: white;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}
.search-conteiner {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    background-color: white;
}
.search-conteiner i {
    color: var(--naranja);
    font-size: 22px;
}
.search {
    width: 400px;
    height: 45px;
    border: none;
    font-size: 18px;
}
.search:focus {
    outline: none;   /* elimina el borde negro */
    box-shadow: none; /* por si el navegador agrega sombras */
}
.lista-nav {
    width: 300px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: centers;
    gap: 20px;
}
.lista-nav li {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lista-nav a {
    display: flex;
    align-items: center;
}
#name-user {
    display: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
#icono-registrar {
    display: none;
}
#icono-admin {
    display: none;
}
.panel {
    width: 250px;
    top: 100px;
    background-color: var(--naranja);
    position: absolute;
    font-size: 20px;
    flex-direction: column;
    padding-left: 10px;
    position: fixed;
    z-index: 5;
}
.exit, .exit-user{
    display: flex;
    justify-content: end;
    padding-right: 10px;
    color: white;
}
.panel-opciones {
    right: 130px;
    display: none;

}
.panel-admin {
    right: 270px;
    display: none;
}
.panel-admin a, .panel-opciones a {
    color: white;
    text-decoration: none;
    height: 50px;
}
.panel-admin a:hover, .panel-opciones a:hover {
    font-weight: 700;
}
.resultados {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
}
.conteiner-card-resultados {
    position: fixed;
    top: 100px;
    left: 430px;
    height: 250px;      /* alto fijo */
    overflow-y: auto;   /* scroll vertical automático */
    overflow-x: hidden; /* oculta scroll horizontal */
}
/* Estilo del scroll */
.conteiner-card-resultados::-webkit-scrollbar {
    width: 5px;              /* ancho de la barra */
}
/* Fondo de la barra */
.conteiner-card-resultados::-webkit-scrollbar-track {
    background: rgb(199, 199, 199);       
    border-radius: 5px;
}
/* "Thumb" (la parte que se mueve) */
.conteiner-card-resultados::-webkit-scrollbar-thumb {
    background: var(--naranja);          
    border-radius: 5px;
}
.card-resultados {
    display: flex;
    align-items: center;
    height: 100px;
    gap: 20px;
    font-size: 20px;
    width: 450px;
    background-color: white;
    padding: 0 10px 0 10px;
    border-left: solid 1px rgb(194, 192, 192);
    border-bottom: solid 1px rgb(194, 192, 192);

}
.card-resultados img {
    width: 60px;
    height: 60px;
    border-radius: 20px;
}
.card-resultados a {
    text-decoration: none;
    color: black;
}
.categorias-conteiner {
    margin-top: 100px;
    width: 100%;
    height: 60px;
    background-color: rgb(236, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-weight: 500;
    font-size: 20px;
    gap: 30px;
    border-bottom: 2px solid rgb(175, 175, 175);
    border-top: 2px solid rgb(175, 175, 175);
    position: fixed;
    z-index: 1;
}
.categorias-conteiner a {
    text-decoration: none;
    color: black;
}
.category-title {
    height: 160px;
}
.carousel {

    width: 100%;
    overflow: hidden;
  }

  .carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }


  .carousel-images a {
    min-width: 100%; /* Cada enlace ocupa todo el ancho del carrusel */
    text-decoration: none;
    margin-top: 160px;
  }

  .carousel-images img {
    width: 100%;
    display: block;
  }


  .carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 10;
  }

  .prev { left: 10px; }
  .next { right: 10px; }

.triplo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.triplo-title {
    height: 80px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.triplo-images {
    display: flex;
    gap: 20px;
}
.triplo-images img {
    width: 450px;
}
.title {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: solid 1px gray;
}
.card-conteiner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.card {
    width: 340px;
    height: 430px;
    display: flex;
    color: rgb(46, 46, 46);
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    border: solid 2px white;
    overflow: hidden;
    text-decoration: none;
    transition: .2s ease-in;
}
.card:hover {
    border: solid 2px black;
}
.card img {
    width: 320px;
    height: 300px;
}
.card-title {
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 0 10px 0 10px;
}
.card-price {
    font-size: 15px;
    color: rgb(70, 70, 70);
}